<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/create-account.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Create account Page</title>
</head>
<body>

    <div class="wrapper">

    <div class="container-one">
        <div class="nav">
            <div class="logo">SUITETOOTH</div>
            <div class="testimonial">
                <h1>“I am literally superhuman because of SuiteTooth.”</h1>
                <h6>Tariro M., Social Media Specialist</h6>
                <img class="tooth" src="/images/tooth.png" alt="animated-tooth">
            </div>
        </div>
    </div>

    <div class="container-form">
        <div class="form">
            <h6 class="steps">Step 1 of 4</h6>
            <div class="bars">
                
                <div class="bar-item"></div>
                <div class="bar-item"></div>
                <div class="bar-item"></div>
                <div class="bar-item"></div>
            </div>
            <h3>
                Start growing your brand on social media in two clicks</h3>
            <label for="name" class="title">Full name</label>
            <input type="text" class="name">
            <label for="email" class="title-biz">Business email address</label>
            <input type="text" class="name">
            <label for="password" class="title">Password</label>
            <input type="text" class="name">
            
            <button>Create My Account</button>
       
            <p>By clicking 'Create My Account', I agree to <a href="">SuiteTooth's Terms,</a> including the payment terms and <a href="#">Privacy Policy</a></p>
            
        </div>

    </div>
</div>

    


    
<script type="text/javascript" src="app.js"></script>
</body>
</html>