<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>SuiteTooth</title>
</head>
<body>
    
    <div class="container-one">
        
        <div class="nav">
            <div class="logo">SUITETOOTH</div>
            <div class="nav-btn"><a href="/create-account"><button>Start Your Free Trial</button></a></div>
        </div>
        <div class="heading">
            <div class="heading-text">
                <h1>Grow your reach 
                    and get more business with social media</h1>
                <p>Social media management software designed to help you create more engaging content, get more followers, and make your business shine online.</p>
                <a href="/create-account"><button>Start Your Free 30-Day Trial</button></a>
            </div>
            <div class="heading-image">
            
                <img src="/images/heading-image-one.png" alt="girl-looking-at-phone">
                
            </div>
        </div>
        </div>
        <div class="container-two">
        <div class="social">
            <div class="social-text">
                <h1>All your social networks.<br> One tool.</h1>
            </div>
        
            <div class="social-icons">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i><br>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-twitter"></i>
                
            </div>
        </div>
        </div>
        <div class="features">
            <h1>Manage all your social media in one place</h1>
            <div class="feature-one">
            <div class="features-text-left">
                <h2>Post across all 
                    your channels</h2>
                <p>Schedule and publish content to all of your social channels, track effectiveness in real-time, and crank the volume on your top-performing content.</p>
            </div>
            <div class="features-image-right">
                <img src="/images/features-1.png" alt="publish-dashboard">
            </div>
            </div>
            <div class="feature-two">
            <div class="features-text-right">
                <h2>Plan your content with ease</h2>
                <p>View all of your social media content in one calendar. Easily see all your scheduled and published content, create new posts, and organize existing ones.</p>
            </div>
            <div class="features-image-left">
                <img src="/images/features-2.png" alt="plan-content-dashboard">
            </div>
            </div>
            <div class="feature-three">
            <div class="features-text-left">
                <h2>Stay on top of trends</h2>
                <p>Set up customizable streams that let you monitor trends and stay notified about your business, customers, competitors, or any topic you’re curious about.</p>
            </div>
            <div class="features-image-right">
                <img src="/images/features-3.png" alt="organize-content-dashboard">
            </div>
            </div>
            <div class="feature-four">
            <div class="features-text-right">
                <h2>Prove the impact 
                    of your effort</h2>
                <p>Get customizable dashboards with 
                    easy-to-share summaries of how your posts are performing across social media.</p>
            </div>
            <div class="features-image-left">
                <img src="/images/features-4.png" alt="dashboard-summary">
            </div>
        </div>
        </div>

        <div class="container-three">

        <div class="testimonial">
            <h1>"This is such an easy and helpful solution for social media planning. I am the only team member that consistently works on our posts and SuiteTooth makes my life so much easier!"</h1>
            <h4>Alison Barrick</h4>
            <h5>Marketing Communications Manager, Ronald Mcdonald House Charities</h5>
        </div>
        </div>
        <div class="container-one">
        <div class="pricing">
            <div class="tier-1">
                <h6>Professional Plan</h6>
                <h6>$99 /mo*</h6>
                <a href="/create-account"><button>30-Day Trial</button></a>
                <p class="skip-link">or <a  class="skip-link" href="#">Skip trial, get 20% off</a></p>
                <h6>1 User</h6>
                <h6>10 Social Accounts</h6>
                <p>$500 ad spend for social boosts<br>
                    Discover the best time to publish<br>
                    Access messages in one inbox<br>
                    Schedule in bulk<br>
                    Access to free integrations<br>
                    Live in-dash chat support</p>
                <p class="price-fineprint">Cancel Anytime</p>
            </div>
            <div class="tier-1">
                <h6>Team Plan</h6>
                <h6>$249 /mo*</h6>
                <a href="/create-account"><button>30-Day Trial</button></a>
                <p class="skip-link">or <a  class="skip-link" href="#">Skip trial, get 20% off</a></p>
                <h6>3 User</h6>
                <h6>20 Social Accounts</h6>
                <p>$2,000 ad spend for social boosts<br>
                    Analytics & reports<br>
                    Access messages in one inbox<br>
                    Schedule in bulk<br>
                    Access to free integrations<br>
                    Live in-dash chat support </p>
                <p class="price-fineprint">Cancel Anytime</p>
            </div>
            <div class="tier-1">
                <h6>Enterprise Plan</h6>
                <h6>Contact for pricing</h6>
                <a href="/create-account"><button>Book a Demo</button></a>
                
                <h6 class="price-pad">5+ User</h6>
                <h6>50 Social Accounts</h6>
                <p>Publishing approvals<br>
                    Employee advocacy<br>
                    Social advertising<br>
                    Social customer care<br>
                    App directory with 150+ tools<br>
                    Priority support and training</p>
                
            </div>
            
        </div>
        <p class="fineprint">* Prices displayed in USD, based on annual billing, but do not include applicable taxes</p>
        </div>
        <h2 class="why">Why SuiteTooth?</h2>
        <div class="advantages">
            
            <div class="adv-1">
                <img src="/images/adv-1.png" alt="globe">
                <h5>Trusted by 
                    200,000+ users
                </h5>
                <p class="center">As the global leader in social media management, we power thousands of industry-leading teams.</p>
            </div>
            <div class="adv-2">
                <img src="/images/adv-2.png" alt="langauge-card">
                <h5>Available in 
                    six languages
                </h5>
                <p>¿No hablas inglés? No problem. Hootsuite is available in 6 languages.</p>
            </div>
            <div class="adv-3">
                <img src="/images/adv-3.png" alt="tricks">
                <h5>Access tips 
                    and tricks
                </h5>
                <p>Learn how to master social media strategy from the most popular social media blog on the internet.</p>
            </div>
            <div class="adv-4">
                <img src="/images/adv-4.png" alt="intergrated-app">
                <h5>150+ integrated apps
                </h5>
                <p>Hootsuite connects with apps like Canva, Zendesk, and Shopify, so you can keep using your favorite tools.</p>
            </div>
            <div class="adv-5">
                <img src="/images/adv-5.png" alt="certification-img">
                <h5>Get certified
                </h5>
                <p>Get access to world-class social media marketing certifications to help you master your craft.</p>
            </div>
        </div>
        <div class="container-one">
        <div class="partners">
            <div class="partners-text">
                <h1>Helping global businesses get out of this world results</h1>
                <a href="/create-account"><button>Request a Demo</button></a>
            </div>
            <div class="partners-icon">
                <img src="/images/partners-1.png" alt="partners">
            </div>
        </div>
        </div>
        <div class="container-three">
        <div class="awards">
            <div class="award-one">
                <img src="/images/awards-1.png" alt="top-50-award">
            </div>
            <div class="award-two">
                <img src="/images/awards-2.png" alt="customer-choice-award">
            </div>
            <div class="award-three">
                <img src="/images/awards-3.png" alt="top-100-award">
            </div>
            <div class="award-four">
                <img src="/images/awards-4.png" alt="shortlist-award">
            </div>
            <div class="award-five">
                <img src="/images/awards-5.png" alt="forbes-award">
            </div>
        </div>  
            
        </div>
        <div class="container-one">
        <div class="motivation">
            <h1>You've got this.</h1>
            <a href="/create-account"><button>Free 30-Day Trial</button></a>
        </div>
        </div>
        <div class="container-three">
        <div class="footer">
            <div class="policy">
                <p>Privacy | Terms & Conditions</p>

            </div>
            <div class="copyright">
                <p>©2022 Hootsuite Media Inc. All Rights Reserved.</p>
            </div>
        </div>
        </div>

    </div>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>